  /* FOR MERCH PAGE */
  .small-container{
    max-width: 1080px;
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 5%;
}

.row-2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-4{
  width: 30%;
}

.col-4:hover{
  transition: 0.3s;
  transform: translateY(-10px);
  /* -webkit-transition: padding 2s; */
}

.col-4:not(:hover){
  transition: 0.3s;
}

.col-4 h4{
  padding-bottom: 10px;
}

.rating .fa{
  color: #d5d900;
  padding-top: 10px;
}

.page-btn{
    margin:0 auto 0px;
  }

  
.page-btn span{
    padding-top: 0px;
    display: inline-block;
    border: 1px solid #000000;
    margin-left: 10px;
    width:40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    /* transition: transform 0.2s; */
  }
  
  .page-btn span:hover{
    /* transform: translateY(-5px); */
    background-color:gray;
  }

/*Pop up screen*/
.button{
    transition: 0.4s;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.popup-header {
  display: flex;
  justify-content: space-between;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* RIDZAL BELOW */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Lato;
}

body{
  background-color: white;
}

header{
  background-color: white;
}

li{
  list-style: none;
}

a{
  color: black;
  text-decoration: none;
  font-family: Lato, sans-serif;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  /* flex-shrink: 0; */
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-logo{
  display: flex;
  size: fixed;
  /* justify-content: center;
  align-items: center; */
  max-width: 75px;
  max-height: 75px;
  /* flex-shrink: 0; */
}

.nav-link{
  transition: 0.7sec ease;
}

.nav-link:hover{
  color: white;
}

.hamburger{
  display:none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

@media(max-width:768px){
  .hamburger{
      display: block;
  }

  .hamburger.active .bar:nth-child(2){
      opacity: 0;
  }
  .hamburger.active .bar:nth-child(1){
      transform:translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
      transform:translateY(-8px) rotate(-45deg);
  }

  .nav-menu{
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: white;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      z-index: 2;
  }

  .nav-option{
      margin: 16px 0;
  }

  .nav-menu.active{
      left: 0;
  }
}

/* video background */
#background-video {
  display: flex;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* page content */
.video-section h1, h2 {
  color: rgb(236, 236, 0);
  font-family: Lato, sans-serif;
  font-weight: bold;
  text-align: center;
}

.video-section{
 position: relative; 
}

.text-overlay{
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 3vw;
}

.first-section h1{
  color: black;
  text-align: center;
  /* top: 50%; */
  font-family: Lato, sans-serif;
  font-size: 5vw;
  font-weight: normal;
}

.first-section{
  display: block;
  text-align: center;
  line-height: 100px;
  position: relative;
}

.loginpopup{
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  display: none;
  justify-content:center;
  align-items: center;
  text-align: center;
}

.loginpopupcontent{
  /* height: 250px;
  width: 500px; */
  height: 20vw;
  width: 45vw;
  background: white;
  padding: 20px;
  border-radius: 5px;
  z-index: 2;
  position: relative;
}

.closepopup{
  position: absolute;
  top: -15px;
  right: -15px;
  max-width: 2vw;
  max-height: 2vw;
}

.loginpopup input{
  text-align: center;
  margin-top: 3vw;
  margin-left: 10vw;
  /* margin: 5px; */
  display: block;
  width: 50%;
  padding: 8px;
  border: 1px solid grey;
}

.loginpopup a{
  text-align: center;
  margin-top: 4vw;
  margin-left: 10vw;
  /* margin: 5px; */
  display: block;
  width: 50%;
  padding: 8px;
  background-color: lightblue;
  border-radius: 5px;
  transition: all .2s ease-in;
}

.loginpopup a:hover{
  background-color: rgb(128, 201, 225);
}

.third-section{
  display: flex;
  /* margin-left: 24vw;
  margin-top: 5vw; */
  justify-content: center;
}

.third-section .col-4{
  /* background-color: #000000; */
  /* width: 24vw; */
  margin-right: 25px;
  margin-top: 25px;
  justify-content: center;
  min-width: 20vw;
}

.natgeo-logo{
  /* margin-top: 50w; */
  height: 10vw;
}

.pokemon-logo{
  height: 6vw;
  width: 19vw;
  margin-top: 2vw;
}

.form-container [type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.form-container input[type="text"], .form-container [type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.form-container form {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #ccc;
  text-align: center;
  max-width: 500px;
  width: 80%;
  margin: 0 auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: calc(100vh - 50px); */
}